.container.white
  - if @address
    .row
      .col-sm-12.col-lg-12
        .panel.no-background
          .panel-heading
            %h3
              %i.icon-map-marker.main-color.font-n
              .font-m Location
          .panel-body
            #map{:style => "width: 100%; height: 200px;"}
    %hr
  .row
    - if @address.nil? && @has_numbers == false
      .col-12
        = render(partial: 'contact_form')
    - else
      = render(partial: 'about_us', locals: {addresses: !!@address, phones: @has_numbers})
      .col-12.col-lg-8
        = render(partial: 'contact_form')