body {
  background: url('/assets/app-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%
}

.navbar {
  background: transparent;
  border: none;
}

.white {
  color: white !important;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}
