@media (max-width: 1091px) {
  .scrollable {
    max-height: 100% !important;
    overflow: visible !important;
  }
}

@media (max-width: 402px) {
  .content-section {
    margin-left: 0px;

    iframe {
      width: 100%;
    }
  }
}

html body {
  background: url('/assets/app-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background: transparent;
  border: none;
}

.white {
  color: white !important;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.gray {
  color: gray;
}

.scrollable {
  max-height: 500px;
  max-height: 100vh;
  overflow-y: scroll;
}

.no-background {
  background-color: transparent !important;
}

.underline {
  text-decoration: underline;
}

#logo {
  img {
    width: 150px;
  }
}

.nav-item {
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
  letter-spacing: 6px;
  font-weight: bold;
}

.ss-links {
  margin-left: 15%;
  position: absolute;
  top: 40px;
  font-size: 20px;
  a {
    text-decoration: none !important;
    cursor: pointer;
    margin-left: 10px;

  }
}

.facebook {
  color: #3a5795 !important;
}

.youtube {
  color: #cc181e !important;
}

.twitter {
  color: #2FC2EF !important;
}

.linkedin {
  color: #069 !important;
}

.no-style {
  text-decoration: none !important;
}

.bottom-60 {
  margin-bottom: 60px;
}

.text-shadow {
  text-shadow: 2px 4px black;
}

.text-shadow-5-5 {
  text-shadow: 5px 5px black;
}

.trans-white {
  background-color: rgba(255,255,255,0.3);
}

.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.top-20 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.bottom-30 {
  margin-bottom: 30px !important;
}
