@media (max-width: 1091px) {
  .scrollable {
    max-height: 100% !important;
    overflow: visible !important;
  }
}

@media (max-width: 402px) {
  .content-section {
    margin-left: 0px;

    iframe {
      width: 100%;
    }
  }
}

html body {
  background: url('/assets/app-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background: transparent;
  border: none;
}

.white {
  color: white !important;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.gray {
  color: gray;
}

.scrollable {
  max-height: 500px;
  overflow-y: scroll;
}

.no-background {
  background-color: transparent !important;
}

.underline {
  text-decoration: underline;
}
