.edit-about-text {
  width: 80%;
}

.btn-group {
  width: 80%;
}

.main-img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.about-text {
  font-size: 18px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.big-icon {
  img {
    width: 80%;
  }
}

.top-10 {
  margin-top: 10px;
}
