#video_player {
  width: 80%;
  height: 350px;
  margin-left: 10%;
}

.add-video {
  margin-left: 10%;
}

.elastislide-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  margin-left: 10%;
}

.video-controls {
  width: 8% !important;
  i {
     margin-left: 10%;
   }
 }

 .main-vid {
   color: white;
 }

 .add-link, .add-video {
   margin-bottom: 20px;
  }

  .upable, .downable {
    color: white;
    cursor: pointer;
  }

  .link-control {
    margin-left: 10px;
  }
